body {
    background: linear-gradient(to bottom, #660066 0%, #0066cc 100%);
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

h1, h2, a, .navbar-brand, .nav-link {
    color: white;
}

h1, h2 {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

h1 {
    margin-left: 3rem;
}


.card {
    margin-bottom: 2rem;
}


.card-price, .card-title, .card-text, .list-group-item, .card-link {
    text-align: center;
}


.row {
    justify-content: space-around;
}

.accordion {
    margin-left: 5rem;
    margin-right: 5rem;
}

.accordion-body {
    color: white;
}

.accordion-item {
    background-color: transparent;
    border: none;
}

.accordion-header {
    margin-left: 0px;
}